@{
    Layout = null;
}
    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
</head>
<body>
    <p> EyeRIS Face Recognition </p>
    <form method="post" action="~/Home/StaffLogin">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="~/images/sad.png" class="center" />
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                    <p name="gay" @TempData["gay"]></p>
                </div>
            
            </div>
        </div>
    </form>
</body>
</html>