@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <style>
        .button {
            background-color: gray;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <p> EyeRIS Face Recognition </p>
    <form method="post" action="~/Home/StaffLogin">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="~/images/sad.png" class="center" />
                    <p> Lecturer Login </p>
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                    <a href="~/Home/studentLogin" class="button ">
                        Im a Student!
                    </a>
                    <p name="gay" @TempData["gay"]></p>
                </div>
            </div>
        </div>
    </form>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>*
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCRQDgRN4O5ILUzNBs9-ruKP30ChRyjRHs",
            authDomain: "eeyes-68b9c.firebaseapp.com",
            databaseURL: "https://eeyes-68b9c.firebaseio.com/",
            projectId: "eeyes-68b9c",
            storageBucket: "eeyes-68b9c.appspot.com",
            messagingSenderId: "622818184974"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        
    </script>

    @*<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js%22%3E"></script>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/index.js"></script>

</body>
</html>
